{
    "tabWidth": 4,
    "singleQuote": true,
    "semi": true,
    "arrowParens": "always",
    "trailingComma": "none",
    "className": true,
    "[typescriptreact]": {
        "editor.formatOnSave": true
    },
    "[typescript]": {
        "editor.formatOnSave": true
    },
    "plugins": [
        "prettier-plugin-tailwindcss"
    ]
}